@import 'utils';

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Raleway', sans-serif;
}

.header{
    position: relative;
    color: white;
    z-index: 1;

    .navigation{
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        ul{
            display: flex;
            list-style-type: none;
            li{
                padding: 10px 5px;
            }
        }

        a{
            color: $light;
            text-decoration: none;
        }
    }

    img{
        height: 50px;
        width: 50px;
    }
}

.bg{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    
    background: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index: 0;

}
.site{
    color: $light;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    position: relative;
    z-index: 0;
    .picture{
        margin-top: 30px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: 0 0 0 10px rgba($brand, $alpha: .4),0 0 0 20px rgba($brand, $alpha: .4) ;
            
            transition: box-shadow .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover{
                box-shadow: 0 0 0 10px rgba($secondary, $alpha: .4),0 0 0 20px rgba($secondary, $alpha: .4) ;
            }
        }
    }

    .intro{
        padding: 10px;
        margin: 20px;

        p{
            line-height: 1.5;
        }
    }
}