<%- include('partials/head')%>
    <header class="header">
        <%- include('partials/navbar')%>
    </header>
    <div class="bg"></div>
    <div class="site">

        <div class="picture">
            <img src="../img/pic.jpg" alt="">
        </div>

        <div class="intro">
            <h2>Hello there</h2>
            <p>
                My name is Louai, I am a JavaScript coder
                Welcome to my website, I will be introducing you to my life
                and how i make things up, like this cool introduction
            </p>
        </div>

        <div class="socials">
            <a href="#" class="github">
                <span class="fab fa-github"></span>
            </a>
            <a href="#" class="facebook">
                <span class="fab fa-facebook"></span>
            </a>
            <a href="#" class="twitter">
                <span class="fab fa-twitter"></span>
            </a>
            <a href="#" class="instagram">
                <span class="fab fa-instagram"></span>
            </a>
            <a href="#" class="mail">
                <span class="fas fa-envelope"></span>
            </a>
        </div>
    </div>

    <%- include('partials/foot')%>