<%- include('partials/head')%>

        <%- include('partials/navbar')%>
    <div class="main">
        <div class="bg"></div>
        <div class="site">
    
            <div class="picture">
                <img src="../img/pic.jpg" alt="">
            </div>
    
            <div class="intro">
                <h2>Hello there 🖖🏻🖖🏻</h2>
                <p>
                    My name is Louai, I am a JavaScript coder
                    Welcome to my website, I will be introducing you to my life
                    and how i make things up, like this cool introduction
                </p>
                </div>
                
                <div class="socials">
                    <a href="#" class="github">
                        <span class="fab fa-github"></span>
                    </a>
                    <a href="#" class="facebook">
                        <span class="fab fa-facebook"></span>
                    </a>
                    <a href="#" class="twitter">
                        <span class="fab fa-twitter"></span>
                    </a>
                    <a href="#" class="instagram">
                        <span class="fab fa-instagram"></span>
                    </a>
                    <a href="#" class="mail">
                        <span class="fas fa-envelope"></span>
                    </a>
                </div>
                </div>
    </div>
    
    <div id="about">
        <div class="education">
            <h3>🎓 Education</h3>
            <ul>
                <li class="educ">
                    <p>
                        Bachelor in Software Engineering (GL)
                    </p>
                    <span class="uni">University of Constantine 2 <small>Graduated</small> </span>
                </li>
    
                <li class="educ">
                    <p>
                        Master in Software Engineering (GL)
                    </p>
                    <span class="uni">University of Constantine 2 <small>in progress</small> </span>
                </li>
            </ul>
        </div>
    
        <div class="tech">
            <h3>💻 Tech Stuff</h3>
            <div class="using">
                <h4>🟧 Tech Am using</h4>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>SCSS</li>
                    <li>Node.JS</li>
                    <li>Express.JS</li>
                    <li>MySQL</li>
                </ul>
            </div>
    
            <div class="intrests">
                <h4>🟦 Tech Am Learning</h4>
                <ul>
                    <li>React,JS</li>
                    <li>MongoDB</li>
                    <li>More JavaScript</li>
                </ul>
            </div>
        </div>
    
        <div class="activities">
            <h3>🏓 Intrests</h3>
            <ul>
                <li>Ping Pong</li>
                <li>Chess</li>
                <li>Star Wars</li>
                <li>Reading Technical Books</li>
                <li>Teaching Kids Tech</li>
                <li>Enjoying Lemon with Tea</li>
                <li>Making theories</li>
                <li>Ect ect ect ... </li>
        
            </ul>
        </div>
        
        </div>
    <%- include('partials/foot')%>