@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,600&display=swap");
.hidden {
  display: none;
}

.socials {
  display: flex;
  font-size: 30px;
}
.socials a {
  background: #0c0e0e;
  margin: 10px;
  padding: 10px;
  color: #FAF0CA;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.socials .github:hover {
  background: #FAF0CA;
  color: #0c0e0e;
  box-shadow: 0 0 0 4px rgba(250, 240, 202, 0.4);
}
.socials .facebook:hover {
  background: #4267B2;
  color: #FAF0CA;
  box-shadow: 0 0 0 4px rgba(66, 103, 178, 0.4);
}
.socials .twitter:hover {
  background: #1DA1F2;
  color: #FAF0CA;
  box-shadow: 0 0 0 4px rgba(29, 161, 242, 0.4);
}
.socials .instagram:hover {
  background: linear-gradient(45deg, #ffdc80, rgba(253, 29, 29, 0.5) 70%), linear-gradient(160deg, #405de6, rgba(253, 29, 29, 0.5) 70%), linear-gradient(250deg, #c13584, rgba(253, 29, 29, 0.5) 70%);
  color: #FAF0CA;
  box-shadow: 0 0 0 4px rgba(193, 53, 132, 0.4);
}
.socials .mail:hover {
  background: #E60023;
  color: #FAF0CA;
  box-shadow: 0 0 0 4px rgba(230, 0, 35, 0.4);
}

.uc-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uc-page h1 {
  color: #FAF0CA;
}

.theories-page {
  color: #FAF0CA;
}

blockquote {
  color: #FAF0CA;
  padding: 16px 20px;
  margin: 10px;
  border-left: 4px solid #FAF0CA;
  background: lightslategrey;
}

.admin-page {
  color: #FAF0CA;
}

h1 {
  margin: 10px;
  color: #FAF0CA;
}

form {
  color: #FAF0CA;
  margin: 10px;
}
form .ql-toolbar {
  margin: 10px 0;
}
form label {
  margin: 10px 0;
}
form input[type=submit] {
  margin: 15px 0;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #0c0e0e;
  background: #FAF0CA;
  box-shadow: transparent;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
form input[type=submit]:hover {
  background: transparent;
  border: 1px #FAF0CA solid;
  color: #FAF0CA;
}
form input[type=text] {
  width: calc(100% - 8px);
  margin: 10px 0;
  padding: 3px;
  background: #0c0e0e;
  border: 1px solid #FAF0CA;
  color: #FAF0CA;
}

.my-projects-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FAF0CA;
  overflow-x: hidden;
}
.my-projects-body .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-projects-body .content .project-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #1c1f1f;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
.my-projects-body .content .project-card .card-img {
  align-self: center;
}
.my-projects-body .content .project-card .card-img img {
  height: 150px;
  border-radius: 10px;
  object-fit: contain;
}

body {
  background: #0c0e0e;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.header {
  position: relative;
  color: white;
  z-index: 1;
}
.header .navigation {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.header .navigation ul {
  display: flex;
  list-style-type: none;
}
.header .navigation ul li {
  padding: 10px 5px;
}
.header .navigation a {
  color: #FAF0CA;
  text-decoration: none;
}
.header img {
  height: 50px;
  width: 50px;
}

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: #FAF0CA 1px solid;
  background: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.main {
  height: 100vh;
}

.site {
  color: #FAF0CA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
}
.site .picture {
  margin-top: 30px;
}
.site .picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(244, 211, 94, 0.4), 0 0 0 20px rgba(244, 211, 94, 0.4);
  transition: box-shadow 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.site .picture img:hover {
  box-shadow: 0 0 0 10px rgba(238, 150, 75, 0.4), 0 0 0 20px rgba(238, 150, 75, 0.4);
}
.site .intro {
  padding: 10px;
  margin: 10px;
}
.site .intro p {
  line-height: 1.5;
}

#about {
  margin: auto;
  padding: 10px;
  position: relative;
  z-index: 2;
  margin-top: 40px;
  color: #FAF0CA;
}
#about h3 {
  font-size: 30px;
}
#about .education ul {
  list-style-type: "📚 ";
}
#about .education p {
  margin: 0;
  font-size: 20px;
}
#about .education span {
  font-size: 14px;
}
#about .education .educ {
  margin: 15px 0;
}
#about .tech ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: "🟠 ";
}
#about .tech ul li {
  margin: 5px 15px;
}
#about .tech .using {
  margin-left: 30px;
}
#about .tech .intrests {
  margin-left: 30px;
}
#about .tech .intrests ul {
  list-style-type: "🔵 ";
}
#about .div {
  border: 2px #FAF0CA solid;
  width: 70%;
  align-self: center;
}
#about .activities ul {
  list-style: "🔴 ";
  display: flex;
  flex-wrap: wrap;
}
#about .activities ul li {
  margin: 5px 15px;
}

@media (min-width: 768px) {
  .my-projects-body .content {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
