<%- include('../../partials/head')%>


    <blockquote>
        Hide the complexity of your actions behind "?"
    </blockquote>


    <h1>
        New Theory
    </h1>
    <form action="#">
        <label for="title">Theory Title</label>
        <input type="text" name="title" id="title">
        <label for="editor">Theory Body</label>
        <div class="theories-page" id="editor">
        </div>

        <input type="submit" value="POST IT" class="btn" id="submit-btn">
    </form>

    <%- include('../../partials/foot')%>