<%- include('../../partials/head')%>


    <%- include('../../partials/navbar')%>

        <div class="my-projects-body">
            <div class="header">
                <div class="illustration"></div>
                <h1>My Projects</h1>
            </div>

            <div class="content">
                <div class="project-card">
                    <div class="card-img">
                        <img src="../../../img/Darth-Maul.jpg" alt="Darth Maul">
                    </div>
                    <div class="card-title">
                        <h2>Project One</h2>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quasi impedit deleniti sapiente doloribus recusandae quibusdam
                        quo!
                        Est nihil quidem nisi.
                        Adipisci aut, ipsa corporis velit aliquid hic harum perspiciatis
                        maxime.
                    </div>
                </div>

                <div class="project-card">
                    <div class="card-img">
                        <img src="../../../img/Darth-Maul-2.jpg" alt="Darth Maul">
                    </div>
                    <div class="card-title">
                        <h2>Project Two</h2>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quasi impedit deleniti sapiente doloribus recusandae quibusdam
                        quo!
                        Est nihil quidem nisi.
                        Adipisci aut, ipsa corporis velit aliquid hic harum perspiciatis
                        maxime.
                    </div>
                </div>

                <div class="project-card">
                    <div class="card-img">
                        <img src="../../../img/XDYTBE.jpg" alt="Darth Maul">
                    </div>
                    <div class="card-title">
                        <h2>Project Three</h2>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quasi impedit deleniti sapiente doloribus recusandae quibusdam
                        quo!
                        Est nihil quidem nisi.
                        Adipisci aut, ipsa corporis velit aliquid hic harum perspiciatis
                        maxime.
                    </div>
                </div>
            </div>
        </div>



        <%- include('../../partials/foot')%>